.register-container {
  width: 350px;
  margin: 50px auto;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
